.header-area {
  height: 50px;
  background-color: #0d2d3e;
}

.space {
  width: 10px;
}

#time_counter {
  display: flex;
}

.main-text {
  color: #fff;
  font: 300 13px "Roboto";
}

.fa-clock {
  color: #e94d65;
  width: 12px;
  height: 12px !important;
}

.fa-facebook-f,
.fa-twitter,
.fa-linkedin-in,
.fa-google-plus-g {
  color: #fff;
  transition: transform .6s;
  transition: .6s;
  transform-style: preserve-3d;
}
.fa-google-plus-g:hover {
  transform: rotateY(180deg);
  color: #ff2143;
}
.fa-facebook-f:hover{
  transform: rotateY(180deg);
   color: #ff2143;
}
.fa-twitter:hover{
  transform: rotateY(180deg);
   color: #ff2143;
}
.fa-linkedin-in:hover{
  transform: rotateY(180deg);
   color: #ff2143;
}
.nav-link{
  color: #0d2d3e !important;
  padding: 39px 19px !important;
  font: 400 16px "Poppins" , "sans-serif";
}
.second-section{
  background-image: url("img/hero-img.webp");
  background-position: center;
  height: 100vh;
}
.karusel{
  height: 100vh !important;
}
.carousel-control-prev{
  border: solid 1px black;
}